
.wowbfd {
  text-align: center;
  font-family: 'Times New Roman';
  background: url(../img/1111.jpg);
  background-position: center;
  color: white;
}

.row:not(.expanded) .row {
  text-align: center;
}
.bg1 {
  background: url(../img/fon8.jpg);
  color: white;
}
.bg2 {
  background: url(../img/fon6.jpg);
  color: white;
  padding: 20px;
}
.bg4 {
  background-color: #4491ab;
  color: white;
  padding: 50px;
}
.alignition {
  text-align: left;
  padding-left: 20px;
}
body {
  background: url(../img/fresh_snow.png);
}
.kartinkis {
  padding: 20px;
}
.bg3 {

  background-color: white;
position: fixed;
width: 100%;

}

.dod {
  border-radius: 5px;
  min-width: 160px;
  margin-top: 25px;
  color: #4491AC;
  background: #fff;
  -webkit-box-shadow: 0px 0px 0px 5px rgba(140,187,203,1);
  -moz-box-shadow: 0px 0px 0px 5px rgba(140,187,203,1);
  box-shadow: 0px 0px 0px 5px rgba(140,187,203,1);
  font-weight: 600;
}

.dod:hover {
  border: 1px solid #fff;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(140,187,203,1);
  -moz-box-shadow: 0px 0px 0px 4px rgba(140,187,203,1);
  box-shadow: 0px 0px 0px 4px rgba(140,187,203,1);
}

.ti1 {
  height: 100px;
}

p:hover, h1:hover, h2:hover, h3:hover{
  cursor: default;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

span.phone:before{
  content: '\2706';
}

span.address:before{
  content: "\f041";
}

span.email:before{
  content: "\f003";
}

span.time-work:before{
  content: "\f017";
}

span.phone:before, span.address:before, span.email:before, span.time-work:before{
  font-size: 2rem;
  color: #3B40A2;
  font-family: 'FontAwesome';
}

span.phone+p, span.address+p, span.email+p, span.time-work+p{
  position: relative;
  bottom: 2.5rem;
  left: 2.5rem;
  margin: 0;
}

i.fa-angle-right{
  font-size: 13rem;
}
.bg5  {
  padding-top: 35px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black, 0 0 1em #8cbbcb;
}
.bg6 {
  color: white;
  font-size: 25px;
}
.redddd {
  color: red;
  text-decoration: underline;
}

.cart-block{
  background: white;
  height: calc( 100% - 180px );
}

.cart-block p{
  padding: 15px;
  margin: 0;
}

.cart-block+p{
  padding: 15px;
  margin: 0;
  background: white;
}

.cart-block + p + a{
  width: 100%;
}

.row.small-up-1.medium-up-2.large-up-3{
  padding: 15px;
}

.row.small-up-1.medium-up-2.large-up-3 h2{
  color: red;
}

.header-icons img{
  height: 50px;
}

.header-icons h2{
  color: red;
}

form#skidka input[name="name"]{
  color: white;
  background: url('../img/i1.png');
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: bottom;
  background-size: 100% auto;
  padding-left: 60px;
  border: none;
  box-shadow: none;
}

form#skidka input[name="phone"]{
  color: white;
  background: url('../img/i2.png');
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: bottom;
  background-size: 100% auto;
  padding-left: 60px;
  border: none;
  box-shadow: none;
}

form#skidka input[name="email"]{
  color: white;
  background: url('../img/i3.png');
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: bottom;
  background-size: 100% auto;
  padding-left: 60px;
  border: none;
  box-shadow: none;
}

form#skidka input{
  max-width: 370px;
  margin: 0 auto;
}

form#skidka input[type="submit"]{
  margin: 30px auto;
}

.row.small-up-2.medium-up-5 .columns{
  margin-top: 50px;
}

form#skidka input::placeholder{
  color: white;
}

.headicons i{
  font-size: 45px
}

.demo-toggle-title {
  margin-top: 0.5rem;
}

.top-bar, .top-bar ul {
  background: white;
}

.top-bar {
  width: 100%;
}

.menu .active {
  font-weight: bold;
}

li a:hover{
  color: blue;
}

.newMy{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

#formModal{
  position: absolute;
  border-radius: 15px;
  top: 100px;
  left: calc( 50% - 200px );
  width: 400px;
  padding: 50px;
}

@media screen and (max-width: 400px) {
  #formModal{
    width: 100% !important;
    left: 0;
  }
}

@media screen and (max-width: 1200px) {
  li.menu-text.hide-for-medium-only.img{
    position: relative !important;
  }
  li.menu-text.hide-for-medium-only.menubutton{
    position: relative !important;
    padding: 0 20px !important;
  }
}